  $buttonBackground: #4CAF50;
  $disabledBackground: #868585;


  .form {
    color: black;
    grid-area: menu;
    display: flex;
    justify-content: center;
    background: whitesmoke;
    border-radius: 5px;
    flex: 1;
    max-width: 360px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

    .textInput {
      outline: 0;
      background: #f2f2f2;
      border-radius: 5px;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
    }
  }

  .fileInput {
    color: black;
    margin: 0 0 15px;
  }

   button {
    border-radius: 5px;
    text-transform: uppercase;
    margin: 5px;
    outline: 0;
    background: $buttonBackground;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
      background: #5f695f;
    }
    &:disabled, button[disabled] {
      background: $disabledBackground;
      color: white;
      cursor: not-allowed;
    }

    &:hover:enabled {
      background: darken($color: $buttonBackground, $amount: 4);
    }
  }
