<div class="form">
    <form class="login-form" [formGroup]="splitForm" (ngSubmit)="onSubmit($event.submitter.id)">
      <input class="fileInput" id="file" formControlName="pdf" type="file">
      <div>
        <input class="textInput" type="number" #start>
        <input class="textInput" type="number" #end>
        <div class="range-wrap">
          <p *ngIf="ranges.length > 0">Selected ranges:</p>
          <p *ngFor="let range of ranges">{{ range.splitStart }} - {{ range.splitEnd }}</p>
        </div>
        <button id="secondary" (click)="addRange(start.value, end.value)">Add range</button>
      </div>
      <button id="main" type="submit">Merge</button>
    </form>
</div>

